<div *ngIf="errorMessage" class="alert-message-container error-alert">{{errorMessage}}</div>
<div *ngIf="successMessage" class="alert-message-container success-alert">{{successMessage}}</div>
<div class="container">
  <ul class="shopping-cart__goods-list col-6 mx-auto">
    <ng-container *ngIf="this.shopItemsService.currentCartItems && this.shopItemsService.currentCartItems.length; else ElseBlock">
      <li class="shopping-cart__goods-list-item d-flex justify-content-between col-12 p0" *ngFor="let item of this.shopItemsService.currentCartItems">
        <div class="shopping-cart__goods-list-item-info d-flex">
          <img class="" [src]="'assets/goods-pics/' + item.pic[0]" alt="">
          <div class="d-flex-row">
            <p class="shopping-cart__item-name-p">Товар: {{item.name}}</p>
            <p class="shopping-cart__item-price-p">Цена: {{item.price}} руб.</p>
            <p class="shopping-cart__item-input-p">
              <label>Количество: 
                <input type="number" [(ngModel)]="item.quantity" min="1">
              </label>
            </p>
          </div>
        </div>
        <p>
          <button class="button button-big mb10 d-flex shop-list___cart-btn-cont" (click)="onAddWhishlistItem(item)">
            <i class="large material-icons navbar__icon shop-list___cart-btn-icon">favorite_border</i>
          </button>
          <button class="button button-big" (click)="onDelete(item.id)">
            <i class="material-icons">delete</i>
          </button>
        </p>
        <p>
        </p>
      </li>
    </ng-container>
    <ng-template #ElseBlock>
      <div сlass="empty-cart">Корзина пуста</div>
    </ng-template>
    
  </ul>
  <div class="shopping-cart__user-info-container row">
    <form 
    [formGroup]="customerInfoForm" 
    class="col-6 mx-auto shopping-cart__user-info-form"
    (keypress.enter)="onSubmit()">
      <div class="d-flex col-6 p0">
        <div class="shopping-cart__input-container col">
          <p class="shopping-cart__p">ФИО</p>
          <input 
          type="text" 
          [formControl]="name"
          [ngClass]="'shopping-cart__input ' + (((name.invalid || !name.value) && isFormSubmitted) ? 'back-red' : '')">
        </div>
        <div class="shopping-cart__input-container col">
          <p class="shopping-cart__p">Email</p>
          <input 
          type="text" 
          [formControl]="email"
          [ngClass]="'shopping-cart__input ' + (((email.invalid || !email.value) && isFormSubmitted) ? 'back-red' : '')">      
        </div>
      </div>
      <div class="d-flex col-6 p0">
        <div class="shopping-cart__input-container col">
          <p class="shopping-cart__p">Адрес доставки</p>
          <input 
          type="text" 
          [formControl]="adress"
          [ngClass]="'shopping-cart__input ' + (((adress.invalid || !adress.value) && isFormSubmitted) ? 'back-red' : '')"> 
        </div>
        <div class="shopping-cart__input-container col">
          <p class="shopping-cart__p">Телефон</p>
          <input 
          [textMask]="{mask: phoneMask}" 
          type="text" 
          [formControl]="phoneNumber"
          [ngClass]="'shopping-cart__input ' + (((phoneNumber.invalid || !phoneNumber.value) && isFormSubmitted) ? 'back-red' : '')"> 
        </div>
      </div>
      <div class="shopping-cart__input-container shopping-cart__input-container-textarea p0 col-12">
        <p class="shopping-cart__p">Комментарий:</p>
        <textarea class="shopping-cart__textarea" [formControl]="message"></textarea>
      </div>
      <div class="form-button-group text-center">
        <button class="button button-big mr10" (click)="onSubmit()">
          Подтвердить
        </button>
        <button class="button button-big">
          Отмена
        </button>
      </div>
    </form>
    <div *ngIf="JSONmessage">
      {{JSONmessage}}
    </div>
  </div>
</div>
