<div class="container-flow">
  <div class="row col-lg-12 navbar">
    <div class="d-flex col-lg-3 navbar__left-btn-block">
      <div 
      [ngClass]="'navbar__item col-lg-6 ' + ((currentTab === 'main' || currentTab === '') ? 'navbar__item-active' : '')">
        <a [routerLink]="['/']">
          Главная
        </a>
      </div>
      <div [ngClass]="'navbar__item col-lg-6 ' + (currentTab === 'cart' ? 'navbar__item-active' : '')">
        <a
        [routerLink]="['/cart']" >
          Корзина
        </a>
      </div>
    </div>
    <div class="d-flex col-lg-4  offset-lg-4">
      <div [routerLink]="['/wishlist']" 
      routerLinkActive="router-link-active"  
      [ngClass]="'navbar__item col-lg-4 d-flex flex-row'"> 
        <div>
          <i class="large material-icons navbar__icon">favorite</i>
        </div>
        <div>
          NaN товаров 
        </div>
      </div>
      <div 
      [routerLink]="['/wishlist']" 
      routerLinkActive="router-link-active"  
      [ngClass]="'navbar__item col-lg-6 d-flex flex-row ' + (currentTab === 'wishlist' ? 'navbar__item-active' : '')">
        <div>
          <i class="large material-icons navbar__icon">shopping_cart</i>
        </div>
        <div>
          <div>
            В корзине: NaN 
          </div>
          <div>
            На сумму: NaN 
          </div>
        </div>
      </div> 
    </div>
  </div>
<router-outlet></router-outlet>
</div>