<div class="container-flow">
  <div class="row col-lg-12 navbar">
    <div class="d-flex col-lg-3 navbar__left-btn-block">
      <div 
      [ngClass]="'navbar__item col-lg-6 ' + ((currentTab === 'main' || currentTab === '') ? 'navbar__item-active' : '')">
        <a [routerLink]="['/']">
          Главная
        </a>
      </div>
      <div [ngClass]="'navbar__item col-lg-6 ' + (currentTab === 'cart' ? 'navbar__item-active' : '')">
        <a
        [routerLink]="['/cart']" >
          Корзина
        </a>
      </div>
    </div>
    <div class="d-flex col-lg-4  offset-lg-4">
      <div
      (click)="onWhishlistClicked()"
      [ngClass]="'navbar__item col-lg-6 d-flex flex-row ' + (currentTab === 'wishlist' ? 'navbar__item-active' : '')"> 
        <div>
          <i class="large material-icons navbar__icon">favorite</i>
        </div>
        <div class="navbar__wishlist-info">
          {{wishlistLength}} товаров 
        </div>
      </div>
      <ul *ngIf="showPopup && shopItemsService.currentWishlistItems.length" 
      class="whishlist-dropdown-menu p0"
      [routerLink]="['/wishlist']" 
      routerLinkActive="router-link-active"  
      >
        <li *ngFor="let item of shopItemsService.currentWishlistItems" class="whishlist-dropdown-menu__item d-flex flex-row">
          <img class="whishlist-preview___img" [src]="'assets/goods-pics/' + item.pic[0]" alt="">
          <div class="whishlist-preview___text">
            <div class="whishlist-preview___text-child-1">Товар: {{item.name}}</div> 
            <div>Добавлено: {{dateBeautify(item.createdAt)}}</div>
          </div>
        </li>
      </ul>
      <div 
      [routerLink]="['/cart']" 
      [ngClass]="'navbar__item col-lg-6 d-flex flex-row'">
        <div>
          <i class="large material-icons navbar__icon">shopping_cart</i>
        </div>
        <div>
          <div>
            В корзине: {{cartlistLength}} 
          </div>
          <div>
            На сумму: {{cartlistSumm}} руб.
          </div>
        </div>
      </div> 
    </div>
  </div>
<router-outlet></router-outlet>
</div>