.shopping-cart__item-name-p {
  margin-top: 25px;
  margin-bottom: 0px;
}

.shopping-cart__goods-list-item {
  border-bottom: 1px solid #b4b4b4;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.shopping-cart__goods-list-item img {
  width: 30%;
  margin-right: 20px;
}

.shopping-cart__item-input-p input {
  width: 100%;
}

.shopping-cart__item-input-p label {
  margin-top: 23px;
}

.shopping-cart__item-input-p {
  width: 20%
}