/* You can add global styles to this file, and also import other style files */

*:focus, *:active {
  outline: none !important;
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body {
  color: rgb(55, 57, 61);
}

.bg-red {
  background: rgb(218, 87, 87);
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

input {
  border: 1px solid rgb(192, 192, 192);
}

.p0 {
  padding: 0px;
}

.back-red {
  background: rgb(255, 171, 171);
  transition: 0.2s;
}

.back-green {
  background: rgb(157, 231, 157);
  transition: 0.2s;
}

.button {
  color: #658ac0;
  background: none;
  border-radius: 10px;
  width: auto;
  font-weight: 600;
  border: 2px solid #658ac0;
}

.button-big {
  padding: 10px;
}

.button:hover {
  background: #658ac0;
  color: white;
  transition: 0.2s;
}

.mr10 {
  margin-right: 10px;
}

.alert-message-container {
  position: fixed;
  right: 5%;
  top: 8%;
  border-radius: 5px;
  padding: 10px;
}

.success-alert {
  background: rgb(216, 255, 216);
}

.error-alert {
  background: rgb(255, 171, 171);
}
