/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  color: rgb(55, 57, 61);
}

.bg-red {
  background: rgb(218, 87, 87);
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

